.content {
  background: linear-gradient(to right, #D6FCFE00, #D6E6FE);
  width: 100%;
  position: relative;
  z-index: 10;
}


.content .container {
    background-color: transparent;
  width: 100%;
  max-width: 1412px;
  height: 422px;
}

.circle1{
    background-color: #FCDDED;
    width: 64px;
height: 64px;
opacity: 1;
gap: 8px;
border-radius: 32px;

}
.circle2{
    background-color: #FDEFE1;
    width: 64px;
height: 64px;
opacity: 1;
gap: 8px;
border-radius: 32px;

}
.circle3{
    background-color: #DDF6F6;
    width: 64px;
height: 64px;
opacity: 1;
gap: 8px;
border-radius: 32px;

}
.one , .two , .three{
h6{
    font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 24px;
line-height: 29px;
letter-spacing: -5%;

}
p{
    width: 365px;
height: 72px;
opacity: 1;

    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;

}
}
